<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- 1.手动实现双向绑定 -->
    <!-- <input type="text" :value="message" @input="inputChange"> -->

    <!-- 2.v-model实现双向绑定 -->
    <!-- <input type="text" v-model="message"> -->

    <!-- 3.登录功能 -->
    <label for="account">
      账号：<input id="account" type="text" v-model="account">
    </label>

    <label for="password">
      密码：<input id="password" type="password" v-model="password">
    </label>

    <button @click="loginClick">登录</button>
    <h2>{{message}}</h2>
  </div>
  <script src="../01-vue基础语法/02-vue引入方式-本地/lib/vue.js"></script>
  <script>
    //声明app
    const app = Vue.createApp({
      data() {
        return {
          message: "Hello Vue",
          account: "",
          password: ""
        }
      },
      methods: {
        // inputChange(event) {
        //   this.message = event.target.value
        // }
        loginClick() {
          const account = this.account
          const password = this.password
          console.log(account, password)
        }
      }
    })
    //挂载app
    app.mount("#app")
  </script>
</body>
</html>